@import "variables";

/* Noto Sans KR font faces */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-VF.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-VARIABLEFONT_WGHT.TTF') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-EXTRALIGHT.TTF') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-SEMIBOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-EXTRABOLD.TTF') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NOTOSANSKR-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('/fonts/NOTOSERIFKR-VF.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $background;
  color: $foreground;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  font-family: "Noto Sans KR";
}

.menu {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 1.5em;
  }

  // Custom bullet point
  li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1px;
    background: currentColor;
    border-radius: 1px;
  }

  a {
    color: $foreground;
  }

  .active {
    font-weight: bold;
  }
}

.sidebar-left {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  padding-top: 1.5rem;
}

.main-content {
  margin-left: 200px; /* Adjust based on sidebar width */
  margin-right: 300px; /* Adjust based on sidebar width */
  min-height: 100vh;
  padding-top: 1.5rem;
}

.sidebar-right {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem 1rem 1rem 2rem;
  flex-direction: column;
}

.categories {
  margin: 0 0 1rem 0;
}

.img-post {
  width: 100%;
  height: auto;
  display: block;
}

.post {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 1rem;

  header {
    border: none;
    margin-bottom: 1.5rem;
  }
}

.page-title {
  color: $foreground;
  margin: 1rem 0 0;
  font-size: 2rem;
}

.page-description {
  margin: 0.2rem 0 0.6rem;
  color: $foreground;
  font-size: 1.2rem
}

.page-categories {
  margin: 0 0 0.5rem;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  display: block;
}

.site-title {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  color: $primary;

  &:hover {
    color: $primary-dark;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  line-height: 0;
}

.thumbnail {
  width: 100%;
}

.tag {
  display: inline-block;
  background-color: $primary;
  color: white;
  border-radius: 6px;
  padding: 0.1rem 0.6rem 0.2rem;

  &:hover {
    background-color: $primary-dark;
  }
}

h1 {
  margin: 0.8rem 0;
}

figure {
  margin: 0;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(125, 125, 255);
  text-decoration: none;
}
