@import "base";
@import "components";
@import "fonts";
@import "layout";
@import "variables";

.menu {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 1.5em;
  }

  // Custom bullet point
  li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1px;
    background: currentColor;
    border-radius: 1px;
  }

  a {
    color: $foreground;
  }

  .active {
    font-weight: bold;
  }
}

.categories {
  margin: 0 0 1rem 0;
}

.img-post {
  width: 100%;
  height: auto;
  display: block;
}

.post {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 1rem;

  header {
    border: none;
    margin-bottom: 1.5rem;
  }
}

.page-title {
  color: $foreground;
  margin: 1rem 0 0;
  font-size: 2rem;
}

.page-description {
  margin: 0.2rem 0 0.6rem;
  color: $foreground;
  font-size: 1.2rem
}

.page-categories {
  margin: 0 0 0.5rem;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  display: block;
}

.site-title {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  color: $primary;

  &:hover {
    color: $primary-dark;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  line-height: 0;
}

.thumbnail {
  width: 100%;
}

.tag {
  display: inline-block;
  background-color: $primary;
  color: white;
  border-radius: 6px;
  padding: 0.1rem 0.6rem 0.2rem;

  &:hover {
    background-color: $primary-dark;
  }
}

h1 {
  margin: 0.8rem 0;
}

figure {
  margin: 0;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(125, 125, 255);
  text-decoration: none;
}
