body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-left {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 0.5rem;
  padding-top: 1.5rem;
}

.main-content {
  margin-left: 200px; /* Adjust based on sidebar width */
  margin-right: 300px; /* Adjust based on sidebar width */
  min-height: 100vh;
  padding-top: 1.5rem;
  background-color: #f0f0f0;
}

.sidebar-right {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.img-post {
  width: 100%;
  height: auto;
  display: block;
}

.post {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 1rem;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  margin-left: 1rem;
  display: block;
}

.site-title {
  font-size: 1.2rem;
  margin: 0.5rem 0 0 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  line-height: 0;
}

.thumbnail {
  width: 100%;
}

h1 {
  margin: 0.8rem 0;
}

figure {
  margin: 0;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(125, 125, 255);
  text-decoration: none;
}
