{{ define "main" }}
  <div class="post">
    <header>
      <!-- TODO: breadcrumb -->
      <a href="{{ .RelPermalink }}">
        <h1 class="page-title">{{ .Title }}</h1>
      </a>
      {{ with .Description }}
        <p class="page-description">{{ . }}</p>
      {{ end }}
    </header>

    {{ range .Resources.ByType "image" }}
      <figure>
        <img
          class="img-post"
          src="{{ .RelPermalink }}"
          alt="{{ .Name }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
        />
      </figure>
    {{ end }}
    {{ .Content }}
    {{ with .Params.tags }}
      <p class="page-tags">
        {{ range . }}
          {{ partial "components/tag.html" . }}
        {{ end }}
      </p>
    {{ end }}
  </div>
{{ end }}
