{{ define "main" }}
{{ $page := . }}
  <div class="post">
    <header>
      <!-- TODO: breadcrumb -->
      <a href="{{ .RelPermalink }}">
        <h1 class="page-title">{{ .Title }}</h1>
      </a>
      {{ with .Params.categories }}
        <p class="page-categories">
          {{ range . }}
            {{ partial "components/tag.html" . }}
          {{ end }}
        </p>
      {{ end }}
      {{ with .Description }}
        <p class="page-description">{{ . }}</p>
      {{ end }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </header>

    {{ .Content }}
    {{- range .Resources.ByType "image" -}}
      <a id="{{ .RelPermalink | urlize }}"></a>
      <figure>
        <img
          class="img-post"
          src="{{ .RelPermalink }}"
          alt="{{ .Name }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
        />
        <figcaption>{{ .Title }}</figcaption>
      </figure>
    {{- end -}}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
{{ end }}
